{% extends "student/student_layout.html" %}
{% block student_content %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Hello {{session['fname']}}!</strong> Welcome to KNSS Aptitude
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<h3>All Exams</h3>
<br>
<div class="">
  <table class="table table-sm table-responsive table-responsive-sm table-bordered">
    <thead>
      <tr>
        <th scope="col">Exam</th>
        <th scope="col">Subject</th>
        <th scope="col">End Date</th>
        <th scope="col">Duration</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for row in exams %}
      <tr>
        <td>{{row[1]}}&nbsp;&nbsp;
          {% if row[7] >= today %}
          <span class="badge rounded-pill bg-success">Live</span>
          {% else %}
          <span class="badge rounded-pill bg-danger">Ended</span>
          {% endif %}
        </td>
        {% for sub in subjects %}
        {% if sub[0] == row[9] %}
        <td>{{sub[1]}}</td>
        {% else %}
        {% endif %}
        {% endfor %}
        <td>{{row[7]}}</td>
        <td>{{row[3]}}</td>
        <td>
          <button type="button" class="btn btn-outline-success">Start</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}