{% extends "student/student_layout.html" %}
{% block student_content %}
<div class="container">
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Hello Ninad!</strong> Welcome to KNSS Aptitude
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card text-white bg-primary mb-3">
        <img src="static/uploads/joinexam.png" class="card-img-top" alt="exam1">
        <div class="card-body">
          <h5 class="card-title">Join for a exam</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-white bg-success mb-3">
        <img src="static/uploads/currentexam.jpg" class="card-img-top" alt="exam2">
        <div class="card-body">
          <h5 class="card-title">Current exams</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-white bg-danger mb-3">
        <img src="static/uploads/completedexam.jpg" class="card-img-top" alt="exam3">
        <div class="card-body">
          <h5 class="card-title">Completed exams</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-dark bg-warning mb-3">
        <img src="static/uploads/examresults.jpg" class="card-img-top" alt="exam4">
        <div class="card-body">
          <h5 class="card-title">Results</h5>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}