{% extends "student/student_layout.html" %}
{% block student_content %}
<h3>Join an exam</h3>
<br>
<form class="form-group" action="" method="post">
    <!--{% if msg %}
    <div class="msg alert alert-danger">{{ msg }}</div>
    {% endif %}-->
    <div class="form-floating">
        <input type="text" class="shadow form-control has-validation" name="exam_code" placeholder="Enter Exam Code" id="exam_url" required>
        <label for="exam_code">Enter Exam Code</label>
    </div>
    <div class="invalid-tooltip">
        Please enter valid code.
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Join Exam</button>
</form>
{% endblock %}