{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <a class="list-group-item list-group-item-action list-group-item-success" href="{{ url_for('home') }}">Dashboard</a>
                <a class="list-group-item list-group-item-action list-group-item-primary" href="{{ url_for('student_profile') }}">Profile</a>
                <a class="list-group-item list-group-item-action list-group-item-success" href="">Join a exam</a>
                <a class="list-group-item list-group-item-action list-group-item-primary" href="">Completed Exams</a>
                <a class="list-group-item list-group-item-action list-group-item-success" href="">Results</a>
            </ul>
        </div>
        <div class="col-md-9">
            {% block student_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
