{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <a class="list-group-item list-group-item-action list-group-item-primary" href="">Profile</a>
                <a class="list-group-item list-group-item-action list-group-item-success" href="{{ url_for('create_exam_auto_form') }}">Create Exam</a>
                <a class="list-group-item list-group-item-action list-group-item-primary" href="{{ url_for('create_subject_form') }}">Add Subject</a>
                <a class="list-group-item list-group-item-action list-group-item-success" href="">My Exams</a>
                <a class="list-group-item list-group-item-action list-group-item-primary" href="">All Exams</a>
            </ul>
        </div>
        <div class="col-md-9">
            {% block staff_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
