{% extends "staff/staff_layout.html" %}
{% block staff_content %}

    <figure class="text-center">
        <h2 class="display-5">{{ exam_info[1] }}</h2>
    </figure>
    <small>
        {{ exam_info[2] }} <br>
        <strong>Time limit:</strong> {{exam_info[3]}} <br>
        <strong>Total Number of Questions:</strong> {{exam_info[4]}} <br>
        <strong>Total Marks:</strong> {{exam_info[5]}} <br>
        <strong>Date created:</strong> {{exam_info[6]}} <br>
        <strong>End Date:</strong> {{exam_info[7]}} <br>
    </small>

    
    <br>
    {% for question in questions %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{question[1]}}</h5>
            <ul class="list-group list-group-flush">
                {% for option in options %}
                {% if option[3] == question[0] %}
                <div class="list-group-item borderless">
                    {{ option[1] }}
                </div>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

    </div>
    <br>
    {% endfor %}


{% endblock %}