{% extends "layout.html" %}
{% block content %}
    
    <div class="row">
        <div class="col-md-3.5">
        </div>
        <div class="container rounded-3 border border-secondary p-4 col-md-5">
            <h2>Login</h2>
            <br>
            <form class="form-group" action="{{ url_for('login') }}" method="post">
                {% if msg %}
                    <div class="msg alert alert-danger">{{ msg }}</div>
                {% endif %}
                <div class="form-floating">
                    <input type="text" class="form-control has-validation " name="email" placeholder="Email" id="email" required>
                    <label for="email">Email</label>
                </div>
                <div class="invalid-tooltip">
                    Please enter valid username.
                </div>
                <br>
                <div class="form-floating">
                    <input type="password" class="form-control" name="password" placeholder="Password" id="password" required>
                    <label for="password">Password</label>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <br>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Don't have an account? <a class="ml-2" href="{{ url_for('register') }}">Register now</a>
                </small>
            </div>
        </div>
        
        <div class="col-md-3.5">
        </div>
        
    </div>
{% endblock %}
